name: Lint check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Install Poetry
      uses: snok/install-poetry@v1
     
    - name: Build
      run: make build
      
    - name: Run lint check
      run: make lint
